.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.green-pari{
    border: solid 1px green;
    margin-left: 1rem;
}

.red-dispari{
    border: solid 1px red;
}


li{
    list-style-type: none;
    padding-right: 2.5rem;
}


/*  qui inizia il css snack: A */
.container-chat{
    width: 80%;
    margin: 0 auto;
    display: flex;

}
.title{
    text-align: center;
}
.container-message{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 600px;
    margin: auto;
    height: 500px;
}
input{
    width: 400px;
    padding: 1rem;

}
.input-area{
    margin-top: .5rem;
    text-align: center;
}

.com{
    border: solid 1px black;
    background-color: #d5f9ba;
    padding: .5rem  2rem;
    border-radius: .5rem;
    margin: 1rem;
   
}
.user{
    border: solid 1px black;
    background-color:rgb(89, 89, 239) ;
    padding: .5rem 2rem;
    border-radius: .5rem;
    margin: 1rem;
}
